<!DOCTYPE html>
<html>
  <head>
    <title>MyDevices</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn">Button</a></li>
          <li><a class="waves-effect waves-light btn">Button <i class="material-icons right">cloud</i></a></li>
          <li><a class="waves-effect waves-light btn-large">Large Button</a></li>
        </ul>
      </div>
    </nav>
    
    <main>
        <%= yield %>
    </main>

    <footer>

    </footer>

  </body>
</html>
